input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
legend {display: none;}
#pageWrapper {
	clear: both;
	margin: 0 auto;
	position: relative;
	width: 940px;
	z-index: 1000;
	padding-top: 15px;
}
.contentContainer {
	clear: both;
	padding: 8px 0;
	display: inline-block;
	overflow: visible;
	width: 100%;
	word-wrap: break-word;
    /* background-color: #ecf0f1;
    border: 1px solid #C8D7E0; */
}/* 10.20.14 - ATANG */
.tableContainer {  background-color: #fff; padding: 10px; } /* 11.20.14 - MSTEEN */
.tabbedContent {  border-left: 1px solid #C8D7E0; border-right: 1px solid #C8D7E0; border-bottom: 1px solid #C8D7E0; background-color: #fff; padding: 10px; } /* 11.20.14 - MSTEEN */
.reportFullDescription {
	background-color: #E7EFDF;
	border: 1px solid #92B268;
	padding: 10px 20px;
}
.middleInput {
	width: 200px;
}
select.middleInput {
	width: 206px;
}
.extraMiddleInput {
	width: 303px;
}
.narrowInput {
	width: 150px;
}
select.narrowInput {
	width: 156px;
}
.extraNarrowInput {
	width: 40px;
}
select.extraNarrowInput {
	width: 36px;
}
.clearedCheckbox {
	float: left;
	margin-bottom: 60px;
}
.reportFullDescription p, .paragraphSpacing p {
	margin: 10px 0;
}
.errorPageList {
	padding: 10px 0 0 22px;
}
.errorPageList li {
	padding-bottom: 10px;
}
dl dt, dl dd {
	float: left;
	padding-bottom: 7px;
}
dl dt {
	clear: left;
}
dl dd {
	clear: right;
}
.radioButtonList li {
	margin-right: 20px;
}
.datepicker {
	margin-right: 7px;
	vertical-align: bottom;
}
.exports .export {
	margin-right: 5px;
}
.paginationLinks a, .paginationLinks .selected {
	margin-left: 3px;
	margin-right: 3px;
}
div.reportFullDescription {
	padding-bottom: 10px;
}
.bottomPadding {
	padding-bottom: 10px;
}
.greyFakeLink {
	color: #848482;
	cursor: pointer;
	font-weight: bold;
}
.greyFakeLinkNoBold {
	color: #848482;
	cursor: pointer;
}
.redText {
	color: #f00;
}
.greyText {
	color: #848482;
}
th.sortable a {
	padding-right: 5px;
}
th.sorted a, th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
}
th.sortable a {
	background: url('../images/arrow_off.png') no-repeat right;
}
th.order1 a {
	background: url('../images/arrow_up.png') no-repeat right;
}
th.order2 a {
	background: url('../images/arrow_down.png') no-repeat right;
}
.rpprTable th.sortable { padding: 10px 14px 10px 10px; vertical-align: middle;}
/* Header styles -------------------------------------- */
/* OTHER HEADER TAG CHANGES FOR JAN 2015 RELEASE */
h1 {
    font: normal 28px Georgia, serif;
    color: #303b53;
    margin: 20px 0 0 0;
}
h2 {
    font: normal 22px Georgia, serif;
    color: #303b53;
    margin: 20px 0 0 0;
}
h3 {
    font: normal 18px Arial, sans-serif;
    color: #303b53;
    margin: 20px 0 0 0;
}
h4 {
    font: normal 16px Arial, sans-serif;
    color: #303b53;
    margin: 20px 0 0 0;
}
h5 {
    font: bold  14px Arial, sans-serif;
    color: #303b53;
    margin: 20px 0 0 0;
}
h6 {
    font: bold 14px Arial, sans-serif;
    color: #303b53;
    margin: 20px 0 0 0;
}
p {
    line-height: 20px;
}

/* tabs -------------------------------------- */
.tabGroup {
	clear: both;
	margin: 10px 0 0 0;
} /* 10.20.14 - ATANG */
.tabGroup ul {
	border-bottom: 1px solid #C8D7E0;
	list-style-type: none;
	overflow: hidden;
	height: 36px;
    position: relative;
}
.tabGroup .tab {
	background: url('../images/bg_tab_sprite.png') left -45px no-repeat;
	display: inline-block;
	margin-right: 3px;
	text-align: center;
	vertical-align: top;
}
.tab a {
	background: url("../images/bg_tab_sprite.png") no-repeat scroll right -135px transparent;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	padding: 11px 10px 20px;
	text-decoration: none;
}
.tab a:hover {
    color: #ecf0f1;
}
.tabGroup .download {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.double a {
	padding: 5px 10px 14px;
    line-height: 13px;
}
.tab {
    line-height: normal;
}
.tabGroup .selectedTab {
	background-position: left 0;
}
.selectedTab a, .selectedTab a:hover {
	color: #000;
	background-position: right -90px;
}
.supportingFiles th, .supportingFiles th a {
    color: #34495e;
}
/* Error display -------------------------------------- */
.formFieldErrorText, .noteReqd {
	color: #DF4444;
	font-weight: normal;
}
.formFieldErrorText img {
	vertical-align: -4px
}
.formFieldErrorTextImg {
	width: 16px;
	padding-right: 3px;
}
/* A.1-PI User Home -------------------------------------- */
.small-col {
	width: 225px;
}
.vert-spacing {
	margin: 10px 0;
}
.left-spacing {
	margin-left: 10px;
}
#tabs {
	clear:both;
	padding-top: 10px;
}
.excel {
	background: url('../images/ico_sprites.png') no-repeat 0 -50px;
	padding: 0 0 0 20px;
}
.csv {
	background: url('../images/ico_sprites.png') no-repeat 0 -74px;
	padding: 0 0 0 20px;
}
.xml {
	background: url('../images/ico_sprites.png') no-repeat 0 0;
	padding: 0 0 0 20px;
}
.pdf {
	background: url('../images/ico_sprites.png') no-repeat 0 -98px;
	padding: 0 0 0 20px;
}
.rtf {
	background: url('../images/ico_sprites.png') no-repeat 0 -24px;
	padding: 0 0 0 20px;
}
.result-numbers {
	display:inline;
}
.overdue {
	display: inline-block;
	font-weight: bold;
	white-space: nowrap;
}
.overdue img {
	display: inline;
	margin-right: 5px;
	vertical-align: middle;
}
/* report entry -------------------------------------- */

#ActionsContainer {
	border: 1px solid #B3B3B3;
	background: #E7E7E7;
	padding: 10px 0 10px 10px;
}
#ActionsContainer a {
	font-weight: bold;
	text-decoration: none;
}
#ActionsContainer ul {
	list-style-type: none;
	margin: 5px 0 15px 0;
}
#ActionsContainer li {
	float: left;
	padding-right: 30px;
}
#ReportSummary {
	position: relative;
	clear: both;
	width: 100%;
	padding-bottom: 10px;
}
#ReportSummary .innerReportSummary {
	position: relative;
}
#ReportSummary ul {
	list-style-type: none;
}
#ReportSummary .leftColumn, #ReportSummary .rightColumn {
	margin-top: 20px;
}
#ReportSummary .leftColumn {
	width: 50%;
}
#ReportSummary .leftColumnBorder {
	border-right: 1px solid #000;
}
#ReportSummary .rightColumn {
	padding-left: 90px;
}
#ReportSummary li {
	clear: both;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
#ReportSummary .fiveSectionList, #ReportSummary .sixSectionList {
	padding-top: 2px;
}
#ReportSummary .fiveSectionList li {
	height: 26px;
	margin: 0 0 2px 0;
	padding: 0;
}
#ReportSummary .fiveSectionList li div {
	margin-top: 12px;
}
#ReportSummary .sixSectionList li {
	height: 21px;
	margin: 0 0 2px 0;
	padding: 0;
}
#ReportSummary .sixSectionList li div {
	margin-top: 7px;
}
#ReportSummary .totalWidth, #ReportSummary .firstColumn, #ReportSummary .secondColumn {
	float: left;
}
#ReportSummary .firstColumn {
	width: 181px;
	clear: left;
}
#ReportSummary .secondColumn {
	clear: right;
}
#ReportSummary .totalWidth {
	width: 274px;
	clear: both;
}
#ReportSummary .leftColumn .secondColumn {
	/* width: 143px; MSTEEN 11-17-14 */
}
#ReportSummary .leftColumn img {
	margin: 8px 30px 8px 10px;
	vertical-align: middle;
}
#ReportSummary .rightColumn ul {
	margin: 0 60px 0 0;
}
.reportEntryNavigation {
	display: inline-block;
	list-style-type: none;
	width: 100%;
}
.reportEntryNavigation li {
	float: left;
	width: 33.3%;
}
.width50 li{
	float: left;
	width: 50%;
}
.sectionHeader {
	padding: 15px 0;
	font-weight: bold;
}
#outputSummaryList, .participantsSummaryList {
	padding-bottom: 15px;
	list-style-type: none;
}
.participantsSummaryList {
	width: 100%;
}
#outputSummaryList li, .participantsSummaryList li {
	padding-bottom: 12px;
}
#outputSummaryList .AddEdit, .participantsSummaryList .AddEdit {
	margin-right: 40px;
}
#outputSummaryList .indented {
	padding-left: 25px;
}
.participantsSummaryList {
	width: 100%;
}
.participantsSummaryList .narrowNumberInput {
	width: 30px;
	margin-left: 15px;
}
.participantsSummaryList .wideInput {
	width: 350px;
	vertical-align: top;
}
.participantsSummaryList .leftColumn {
	width: 210px;
	padding-right: 15px;
	text-align: right;
}
.participantsSummaryList dt {
	text-align: right;
	padding-right: 15px;
	width: 240px;
}
.participantsSummaryList em {
	display: inline-block;
	vertical-align: top;
}
.participantsSummaryList .radioButtonList {
	list-style-type: none;
}
.participantsSummaryList ul {
	list-style-type: none;
	display: inline-block;
}
.participantsSummaryList .foreignCountryList {
	width: 500px;
}
.participantsSummaryList .foreignCountryList .rightPadding {
	padding-right: 8px;
}
.participantsSummaryList .yearList {
	width: 240px;
}
.yearList li {
	float: left;
	padding: 0 20px 5px 0;
	text-align: left;
	width: 60px;
	vertical-align: top;
}
.participantsSummaryList .partnerContributionList .firstColumn, .participantsSummaryList .partnerContributionList .secondColumn {
	float: left;
	width: 220px;
	text-align: left;
}
.partnerContributionList label, .partnerContributionList label {
	width: 90%;
	display: inline-block;
}
.participantsSummaryList .partnerContributionList .firstColumn {
	clear: left;
}
.participantsSummaryList .partnerContributionList .secondColumn {
	clear: right;
}
.addingPublications li {
	list-style-type: none;
	padding: 0 0 7px 0;
}
.addingPublications li p {
	padding-bottom: 7px;
}
.numberedList {
	padding-left: 22px;
	list-style-type: decimal;
}
.numberedList li {
	padding: 5px 0;
	list-style-type: decimal;
}
.addingPublications .radioButtonList {
	display: inline-block;
	margin-bottom: 20px;
}
.addingPublications .radioButtonList .firstColumn {
	clear: left;
	float: left;
	width: 130px;
}
.addingPublications .radioButtonList .secondColumn {
	float: left;
	clear: right;
}
.addingPublications span {
	vertical-align: top;
}
.addingPublications span.requiredConditional {
	margin: 0;
}
.addingPublications .wideInput {
	width: 300px;
}
.addingPublications .extraWideInput {
	width: 450px;
}
.addingPublications select.wideInput {
	width: 306px;
}
.addingPublications ul.publicationEntry {
	width: 100%;
}
.addingPublicationsIndent textarea, .addingPublicationsIndent input, .addingPublicationsIndent select, .addingPublicationsIndent .mceLayout {
	margin: 0 0 0 25px;
}
.addingPublicationsIndentMore textarea,.addingPublicationsIndentMore input,.addingPublicationsIndentMore select,.addingPublicationsIndentMore .mceLayout {
	margin: 0 0 0 40px;
}
#addPublication .mceEditor {
	width: 52%;
}
.publicationEntry li {
	float: left;
	clear: both;
	padding: 0 0 7px 0;
	width: 100%;
}
.addingPublications .publicationEntry .firstColumn, .addingPublications .publicationEntry .secondColumn, .addingPublications .publicationEntry .thirdColumn {
	float: left;
	display: inline-block;
}
.addingPublications .publicationEntry .firstColumn {
	width: 75px;
	text-align: right;
}
.addingPublications .publicationEntry .secondColumn {
	width: 310px;
}
.addingPublications .publicationEntry .thirdColumn {
	width: 450px;
}
.addingPublications table.rpprTable {
	margin-bottom: 0;
}
.addingPublications .rpprTable .firstColumn {
	width: 600px;
}
.rpprTable select.noMargin {
	margin-left: 0px;
}
#ProductCategoryListing {
	background-color: #e7e7e7;
	border: 1px solid #b3b3b3;
	padding: 5px;
}
#ProductCategoryListing ul {
	list-style-type: none;
	margin-top: 10px;
	display: inline-block;
}
#ProductCategoryListing li {
	vertical-align: top;
	clear: both;
	display: inline-block;
	float: left;
	padding-bottom: 20px;
}
#ProductCategoryListing ul, #ProductCategoryListing li {
	padding: 0;
	margin: 0;
}
#ProductCategoryListing .firstColumn, #ProductCategoryListing .secondColumn {
	float: left;
}
#ProductCategoryListing p, #ProductCategoryListing p {
	margin: 1em 0;
}
#ProductCategoryListing .firstColumn {
	width: 70px;
	padding: 1em 0;
	text-align: center;
}
#ProductCategoryListing .secondColumn {
	width: 350px;
}
#ProductCategoryListing .indentedCitation {
	text-indent: -25px;
	padding-left: 25px;
}
#ProductCategoryListing .bottomSpacing {
	padding-bottom: 10px;
}
/* TinyMCE question pages (Accomplishments, Changes, Impacts, etc. -------------------------------------- */
#richTextQuestionList ul {
    margin-left: 100px;
}
#richTextQuestionList, #richTextQuestionList ul {
	width: 100%;
	list-style-type: none;
}
#richTextQuestionList li {
	padding-bottom: 35px;
}
#Accomplishments {
    width: 100%;
}
#AccomplishedInfoBtn {
    float: none;
    display: inline;
}
#richTextQuestionList .richTextLeftCol {
	width: 750px;
    clear: left;
}

#richTextQuestionList .richTextRightCol {
	width: 175px;
	margin-left: 5px;
    clear: left;
}
#richTextQuestionList #characterCounter {
	text-align: right;
}
#richTextQuestionList .formFieldErrorTextImg {
	height: 100px;
}
#richTextQuestionList .wideInput {
	width: 750px;
    clear: left;



}
#richTextQuestionList p {
	padding-bottom: 7px;
}
#richTextQuestionList li.clearing {
	width: 100%;
}
#richTextQuestionList label {
	/* display: inline-block; */
}
#richTextQuestionList .subQuestionLeft { /* msteen removed for 01/2015 redesign
	width: 15%;
	float: left;
	text-align: right; */
	padding-right: 15px;
}
#richTextQuestionList .subQuestionRight {/* msteen removed for 01/2015 redesign
	width: 82%;
	float: right; */
}
#richTextQuestionList .informationIconNSF {
	margin: -5px 0 0 5px;
}
/* End TinyMCE question pages -------------------------------------- */
.informationIcon {
	margin-left: 20px;
	cursor: pointer;
	vertical-align: top;
}
.moreInfoToolTip {
	position: absolute;
	width: 377px;
	z-index: 10;
    font-size: 12px !important;
	line-height: normal !important;
}
.moreInfoToolTip .top {
	background: url("../images/bg_tool_tip.png") repeat-x scroll #FFFFFF;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	min-height: 20px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	width: 339px;
}
.moreInfoToolTip .bottom {
	background: url("../images/bg_tool_tip_sprite.png") no-repeat scroll -8px 0 transparent;
	display: block;
	height: 33px;
	width: 361px;
}
.moreInfoToolTip .close {
	background: url('../images/ico_sprites.png') no-repeat scroll 0 -162px transparent;
	display: block;
	height: 14px;
	float: right;
	width: 12px;
	cursor: pointer;
}
.submissionChecklist {
	width: 400px;
	margin: 0 auto;
}
.submissionChecklist ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
/* report cover -------------------------------------- */

#ReportCover {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
#ReportCover dt {
	margin-bottom: 1em;
	padding-right: 50px;
	width: 300px;
}
#ReportCover dd {
	font-weight: bold;
	margin-bottom: 1em;
	width: 205px;
}
#ReportCover, #ReportCover ul {
	list-style-type: none;
}
#ReportCover li {
	clear: both;
}
.reportSpecialInfo {
	margin: 0 auto;
	width: 500px;
	padding: 20px 50px;
	background-color: #E7EFDF;
	border: 1px solid #92B268
}
/* specific award report -------------------------------------- */

#AwardInformation {
	margin-top: 20px;
	width: 100%;
	display: inline-block;
	clear: both;
}
#AwardInformation dl, #AwardInformation ul {
	list-style-type: none;
}
#AwardInformation dd {
	font-weight: bold;
}
#AwardInformation .float-left dt {
	width: 140px;
}
#AwardInformation .float-left dd {
	width: 350px;
}
#AwardInformation .float-right dt {
	width: 196px;
}
#AwardInformation .float-right dd {
	width: 200px;
}
/* report completeness --------------------------------- */

#CompletenessReport h2 {
	padding: 20px 0px 10px 0px;
}
#CompletenessReport ul {
	list-style: disc inside none;
	padding-left: 20px;
	margin-bottom: 20px;
}
#CompletenessReport ul li {
	margin-bottom: 5px;
}
/* report search -------------------------------------- */

.reportSearch dt {
	width: 150px;
	padding-right: 10px;
	text-align: right;
}
.reportSearch dd {
	width: 380px;
}
.reportSearch ul {
	list-style-type: none;
}
.linearList li {
	display: inline-block;
	padding-right: 15px;
	vertical-align: top;
}
.linearList label {
	display: inline-block;
	vertical-align: top;
}
.reportSearch em {
	display: inline-block;
	width: 150px;
	vertical-align: top;
}
.forcedLink {
	cursor: pointer;
	color: #017d96;
	text-decoration: none;
}
.forcedLink:hover {
	color: #c64b00;
}
.mceEditor {
	width: 100%;
	display: inline-block;
}
.mceEditor div.disabled {
	opacity: .25;
	filter: alpha(opacity=25);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}
.mceEditor div.disabled a:hover, .mceEditor div.disabled .mceSplitButtonEnabled:hover a.mceAction, .mceEditor div.disabled .mceSplitButtonEnabled:hover a.mceOpen {
	background-color: transparent;
	border: transparent 1px solid;
}
a {
	cursor: pointer;
}

.infoBoxBullet {
	padding:5px 20px 5px 40px;
	margin:0 0 0 14px;
	list-style-type:disc;
}
.infoBoxNoBulletIndent {
	padding:5px 20px 5px 40px;
	margin:0 0 0 14px;
	list-style-type:none;
}
.infoBoxNoBullet {
	padding:0 20px 0 0;
	list-style-type:none;
}
.strong {
	font-weight:bold;
}
.underline {
	text-decoration:underline;
}
.italics {
	font-style: italic;
}
.top0 {
	top: 0px !important;
}
.bottomTwenty {
	margin:0 0 20px;
}
.vert-spacingNoBottom {
	margin: 10px 0 0;
}
.vert-spacingNoTop {
	margin: 0 0 10px;
}
#PartAndCollInfoPopUp dt {
	width:140px;
	margin: 0 5px 0 0;
}
#PartAndCollInfoPopUp dd {
	width: 120px;
}
.bottomLong {
	background: none;
	display: block;
	height: 0px;
	width: 361px;
	border-bottom: 1px solid #cccccc;
}
.detailListBullet {
	padding:5px 5px 5px 40px;
	margin:0 0 0 14px;
}
.detailListNoBullet {
	list-style-type:none
}
.boxPreIco {
	width:850px;
}
.cursorDef {
	cursor: default;
}
sup, sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
#ProductCategoryListing .secondColumn {
	overflow: auto;
}
#ProductCategoryListing .secondColumn p {
	width: 320px;
	word-wrap: break-word;
}
.noPad {
	padding: 0 !important;
}
.reportPreview .cover h2 {
margin: 20px 0 10px 0:
}
.reportPreview .cover dt, .reportPreview .cover dd {
	margin: 0 0 1em;
}
#sltProductType {
	width: 446px;
}
.informationIconNSF {
	margin: -5px 0 0 20px;
}
.titleIndicator {
	width: 20px;
}
.titleIndicatorList {
	margin: 25px 60px 0 0 !important;
}
.roundedCornerShadowBox .secondColumn {
	margin-bottom:20px !important;
}
.roundedCornerShadowBox .secondColumn li {
	width:350px !important;
}
.wideCountryInput {
	width: 355px !important;
}
.noButtons {
	list-style: none;
}
#rdtnTravelToForiegnCountryL {
	padding-right: 15px;
	text-align: right;
	width: 240px;
}
#rdtnTravelToForiegnCountryR {
	width: 650px;
}
.bottom20 {
	margin-bottom: 20px;
}
.top10 {
	margin-top: 10px;
}
#countriesVisited .rightPadding {
	padding-right: 8px;
}
#countriesVisited .addLink {
	clear: both;
	list-style: none;
	padding: 10px 0 0 160px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.clear, #anchor {
	clear:both;
}
#ActionsContainer strong {
	padding:0 20px 0 0;
}
#reportSearch .reportSearch dd {
	width: 550px;
}
#reportSearch .reportSearch .blueButton {
	margin: 0 0 0 -190px;
}
td.uploadAckColumn, td.uploadPeerReviewColumn {
	min-width: 80px;
	text-align: center;
}
.uploadYesNoList {
	vertical-align: middle;
}
.uploadYesNoList li {
	display:inline;
	vertical-align: middle;
	list-style: none;
	padding-right: 5px;
}
.uploadYesNoList li input {
	margin-left: 0;
}
.uploadYesNoList li label {
	margin-left: -0.4em;
}
#mockContentDiv {
	width: 100%;
	overflow: hidden;
}
.ui-dialog-titlebar-close {
	display: none;
}
.nonWrapping {
	white-space: nowrap;
}
.greyLink {
    color: #848482;
    font-weight: bold;
}
#SummaryBox {
	background-color: #e7e7e7;
	border: 1px solid #b3b3b3;
	padding: 5px;
	clear: all;
	float: right;
}
#SummaryBox ul {
	list-style-type: none;
	margin-top: 2px;
	display: inline-block;
}
#SummaryBox li {
	vertical-align: top;
	clear: both;
	float: left;
	margin: 0px 0px -15px 0px;
	padding: 0;
}
#SummaryBox ul {
	padding: 0;
	margin: 5px 0 15px 0;
}
#SummaryBox .firstColumn, #SummaryBox .secondColumn {
	float: left;
}
#SummaryBox .firstColumn {
	width: 200px;
	padding: 0 0 0 1px;
	margin: 0;
	text-align: left;
}
#SummaryBox .secondColumn {
	width: 150px;
	padding: 0;
	margin: 0;
	text-align: left;
}
#SummaryBox .indentedCitation {
	text-indent: -25px;
	padding-left: 25px;
}
#SummaryBox .bottomSpacing {
	padding-bottom: 5px;
}
#pluploadFilelist {
	vertical-align: middle;
}
.indentationText {
	text-indent: 25px;
}
.indentationTextMore {
	text-indent: 40px;
}
.noindent {
	text-indent: 0px;
}
.nsfIconFix {
	margin-top: -4px;
}
.popUpIndent {
	margin-left: 10px;
}
.vert-spacingIndent {
	margin-left: 10px;
	margin-top: 10px;
}
.greenMsg {
	color:#000;
	font-weight: bold;
	padding: 5px 5px 10px 5px;
	margin: 0 0 15px 0;
	background-color: #DDFCDD;
	border: 1px solid #609E60;
}
.greenMsg p {
	color:#000;
	padding-bottom: 5px;
	font-size: 1.2em;
}
.greenMsg ul {
	padding-left: 15px;
	margin-left: 10px;
}
.greenMsg li {
	list-style-image:url(../images/ico_check_0.png);
	padding: 0;
}
.redMsg {
	color:#000;
	font-weight: bold;
	padding: 5px 5px 10px 5px;
	margin: 0 0 15px 0;
	background-color: #ffd9d9;
	border: 1px solid #ff3333;
}
.redMsg p {
	color:#000;
	padding-bottom: 5px;
	font-size: 1.2em;
}
.redMsg ul {
	padding-left: 15px;
	margin-left: 10px;
}
.redMsg li {
	list-style-image:url(../images/ico_red_warning.png);
	padding: 0;
}
.yellowMsg {
	color:#000;
	font-weight:normal;
	padding: 5px 5px 5px 5px;
	margin: 0 0 15px 0;
	background-color: #ffffcc;
	border: 1px solid #cccc99;
	width: 450px;
	float:left;
	clear: none;
	display: inline-block;
}
.yellowMsg p {
	color:#000;
	padding-bottom: 0px;
	font-size: 1em;
}
.CautionMsg {
	color:#000;
	font-weight: bold;
	padding: 5px 5px 10px 5px;
	margin: 0 0 15px 0;
	background-color: #ffffcc;
	border: 1px solid #cccc99;
}
.CautionMsg p {
	color:#000;
	padding-bottom: 5px;
	font-size: 1.2em;
}
.CautionMsg ul {
	padding-left: 15px;
	margin-left: 10px;
}
.CautionMsg li {
	list-style-image:url(../images/ico_warning.png);
	padding: 0;
}
.formElementYellow {
	background-color: #ffffcc;
}
.alignTop {
	vertical-align:top;
}
.alignMiddle {
	vertical-align:middle;
	padding-bottom: 40px;
}
.instructionsIndent {
	margin-left: 25px
}
.lables {
	float: left;
	width: 220px;
	font-weight: normal;
	text-align:right;
	clear:none;
}
.inputs {
	padding: 5px;
	vertical-align:top;
}
.form-spacing {
	margin: 20px 0 30px 0;
}
.form-spacingMore {
	margin-top: 40px;
	margin-bottom: 30px;
	padding-top: 10px:
}
.form-spacing li{
	margin: 20px 0px 0px 0px;
	padding: 0;
}
.formButtonArea {
	margin-left: 225px;
	font-weight: normal;
	text-align:left;
	clear:none;
}
.formItalicsSmall {
	font-size: .5 em;
	color:#666;
	font-style:italic;
	width: 300px;
	text-wrap:normal;
}
#formCheckBox {
	padding: 0px 0px 15px 0px;
	clear: right;
	float: left;
}
#formCheckBox ul {
	list-style-type: none;
	margin-top: 0px;
	display: inline-block;
}
#formCheckBox li {
	vertical-align: top;
	clear: both;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}
#formCheckBox ul {
	padding: 0;
	margin: 0;
}
#formCheckBox .firstColumn, #formCheckBox .secondColumn {
	float: left;
}
#formCheckBox .firstColumn {
	width: 280px;
	padding: 0 0 15px 0px;
	margin: 0;
	text-align: left;
}
#formCheckBox .secondColumn {
	width: 280px;
	padding: 0 0 15px 0px;
	margin: 0;
	text-align: left;
}
#formCheckBox .indented {
	text-indent: -24px;
	padding-left: 24px;
}
#formCheckBox .bottomSpacing {
	padding-bottom: 5px;
}
.tableControls{
	width:100%;
	margin:0 auto;
	vertical-align:bottom;
}
.tableLess{
	float:left;
	vertical-align:bottom;
}
#leftTableCont{
	width:400px;
	text-align:left;
}
#rightTableCont{
	width:280px;
	text-align:right;
}
#content{
	width:auto;
}
.floatBottom {
	vertical-align:text-bottom;
	margin:10px;
}
.paginationThingy {
	clear: both;
	padding: 0;
	display: inline-block;
	overflow: visible;
	width: 99.9%;
	word-wrap: break-word;
}
.popUpHeader {
	color:#000;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	margin: 0 0 5px 0;
	background-color:#CCC;
	border: 1px solid #666;
	width: 332px;
	float:left;
	clear: none;
	display: inline-block;
}
.partnersList {
	list-style-type: none;
	margin-left: 10px;
}
.partnersList li {
	padding-bottom: 0px;
}
.nothing2Report {
	float: right;
	margin-right: 250px;
}
.arrowBox {
	border: 2px solid #B3B3B3;
	background: #E7E7E7;
	padding: 8px 0 8px 8px;
	border-radius: 4px;
	position: relative;
	width: 200px;
	height: 40px;
    font-size: 12px;
    line-height: normal;
}
.arrowBox:after, .arrowBox:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrowBox:before {
	border-color: rgba(179, 179, 179, 0);
	border-right-color: #B3B3B3;
	border-width: 13px;
	margin-top: -13px;
}
.arrowBox:after {
	border-color: rgba(179, 179, 179, 0);
	border-right-color: #E7E7E7;
	border-width: 10px;
	margin-top: -10px;
}
.multipleParticipantsList {
	list-style-type: none;
}
.multipleParticipantsList .firstColumn {
	clear: left;
	float: left;
	width: 50px;
}
.multipleParticipantsList .secondColumn {
	float: left;
	clear: right;
	width: 75%
}
/*Advisory*/
.alert {border: 1px solid #000000;margin: 0px auto 10px auto;padding: 0;font-size:14px !important;width: 940px;font-family:Arial, Helvetica, sans-serif;}
div#advice {
    clear: both;
    position: relative;
    top: 10px;
}
div#anchor {
    width: 940px;
    margin: 0 auto;
}
.alert .alert-link, .show-all {font-weight: bold;text-decoration:underline;color:#2693D6;}
.alert .alert-link:hover, .show-all:hover {text-decoration: none; color: black;}
.alert p {margin: 0;padding: 7px 15px 7px 35px;}
.alert-warning {background-color: #fffdec;border-color: #e0b91c;}
.alert-warning p {background: url('../images/ico_exclamation_triangle.png') no-repeat 8px 3px;}
.alert-danger {background-color: #fff0f0;border-color: #df4444;margin-top:5px;}
.alert-danger p {background: url('../images/ico_exclamation_circle.png') no-repeat 8px 5px;}
.alert-info {background-color: #eefbff;border-color: #40a0bb;}
.alert-info p {background: url('../images/ico_info_circle.png') no-repeat 8px 5px;}
.alert-success {background-color: #f0ffe5;border-color: #65b81b;}
.alert-success p {background: url('../images/ico_check_circle.png') no-repeat 8px 5px;}
.muted-text {color:#666;}
.muted-text strong {color: black;}
.show-all {position: relative; padding-left: 15px;}
.show-all span {font-size: 18px; text-decoration:none; position:absolute; left:0; top:-5px}

/* CSS ADDITIONS FOR JANUARY 2014 RELEASE */

/*header_css*/
.theme-header{
	margin: 0 auto;
	width: 940px;
}

#masthead .logo {
	background: url("../images/logo.png") 0 0 no-repeat;
    height: 83px;
    width: 308px;
    margin: 33px 0 10px 10px;
    display: block;
    float: left;
}

#globalNavWelcomeContainer { /*padding-top:81px;*/
	position: relative;
	z-index: 100;
	width: 940px;/* add */
	right: 0px;/* add */
    top: 43px;
    margin: 0 auto;
    display: block;
}

#globalNavWelcomeContainer #globalNav ul{
	list-style: none;
	margin: 5px 0 0 0px;/* modified */
	width: 100%;/* modified */
	text-align:right;/* add */
}

#globalNavWelcomeContainer #globalNav ul li { /*border-left:1px solid #fff;*/
	display: inline;
	margin: 0;
	padding: 0 0 0 2px;
	border-left: solid 1px #333;
    font-weight: bold;
}

#globalNavWelcomeContainer #globalNav ul li:first-child {
	border: 0;
}

#globalNavWelcomeContainer #globalNav ul li a,#globalNavWelcomeContainer #globalNav ul li span {
	padding: 4px; /* modified */
	text-decoration: none;
}
#masthead .portlet {
	border: 0;
	margin: 0;
}

#masthead .portlet .content {
	padding: 0;
}

#headerPorletDiv.content {
	padding: 0;
}

.searchContainer {
	width: 400px;
	position: absolute;
	top: 80px;/* modified */
	right: 0px;
	text-align: right;
	/*display:none;*/
}
#masthead {
    position: relative;
    top: 0;
    left: 0;
   width: 940px;
    margin: 0 auto;
}
#masthead .searchContainer form {
	display:inline;
}
#masthead .searchContainer span {
	*position: relative;
	*top: 9px; /* modified - need to be tested */
	/* IE Fix */
}
body {background: url('../images/bodybg.png') 0 0 repeat-x;  color: #000; font: normal 14px/20px arial, helvetica, sans-serif; padding-bottom: 0px; margin: 0;}
.small-col {
    width: 300px;
    text-align: right;
}
#pageFrame {
	border: 0px solid #012e4d;
	border-top: 0;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	width: 100%;
    background-color: transparent;
}
.searchContainer {
	width: 400px;
	position: absolute;
	top: 80px;/* modified */
	right: 0px;
	text-align: right;
	/*display:none;*/
}

#masthead .searchContainer form {
	display:inline;
}
#masthead .searchContainer span {
	*position: relative;
	*top: 9px; /* modified - need to be tested */
	/* IE Fix */
}
.searchContainer input {
	vertical-align: middle;
}
#mainSearchBtn {
    position: absolute;
    top:0px;
    right: 0px;
    padding: 7px;
}
.glyphicon-search:before {
  content: "\e003";
}

.searchContainer .searchField {
	width: 242px;
	padding: 4px;
}
/* ---------- FOOTER ---------- */
#footer {
	background: url("../images/footerbg.png") repeat;
	color: #333;
	padding: 30px 0 44px 0;
	width: 100%;
    margin: 30px auto 0 auto;
	clear: both;
    font-size: 12px;
    line-height: 1em;
}

#footer .portlet {
	margin: 0;
	border: none;
}

#footer .content {
	padding: 0px;
    width: 940px;
    margin: 0 auto;
}

#footer ul#footerLinks {
	border-bottom: 1px solid #666;
	list-style: none;
	margin: 0 0 8px 0;
	padding: 8px 0;
}
#footer .collinks ul {
    list-style: none;
	margin: 0 0 6px 0;
	padding: 0px 30px 0px 0;
}
#footer .collinks ul li {
    padding: 6px 0 0 0 !important;
}
#footer h3 {
    font-family: 'georgia', Serif;
    font-size: 18px !important;
    color: #303b53;
    font-weight: normal;
    background: none;
    padding: 8px 30px 0 0;
    margin: 0;
}
#footer .row.footerbuttons, #footer .row.anchoredfooter {
    padding-top: 170px !important;
}

#footer ul#footerLinks .externalLink {
	display: inline;
	padding: 0 0 0 0 !important;
	* padding-right: 1px; /* IE fix */
}

#footer ul#footerLinks li {
	border-right: 1px solid #999;
	display: inline;
	margin-right: 3px;
	padding: 0 3px 0 0;
}

#footer ul#footerLinks li.last,.last {
	border: 0 !important;
}

#footer ul#footerLinks li a {
	color: #333;
	text-decoration: none;
}

#footer ul#footerLinks li a:hover {
	text-decoration: underline;
}

/* SOCIAL ICONS */
ul.socialicons {
    list-style: none;
    overflow: auto;
    margin: 0;
    float: left;
}
ul.socialicons li {
    width: 40px;
    height: 40px;
    padding: 0 5px 0 0;
    float: left;
}
ul.socialicons li a {
    width: 40px;
    height: 40px;
    display: block;
    background: url(../images/sprite.png) no-repeat;
    text-indent: -9999px;
}
ul.socialicons li a.facebook {
    background-position: 0 -50px;
}
ul.socialicons li a.facebook:hover {
    background-position: 0px -100px;
}
ul.socialicons li a.twitter {
    background-position: -50px -50px;
}
ul.socialicons li a.twitter:hover {
    background-position: -50px -100px;
}
ul.socialicons li a.linkedin {
    background-position: -100px -50px;
}
ul.socialicons li a.linkedin:hover {
    background-position: -100px -100px;
}
ul.socialicons li a.youtube {
    background-position: -150px -50px;
}
ul.socialicons li a.youtube:hover {
    background-position: -150px -100px;
}
#footer a.primarybtn {
    float: left;
    padding: 11px;
    border-radius: 20px;
    background-color: #e66722;
    color: #fff;
    font: bold 13px Arial, sans-serif;
}
#footer a.primarybtn:hover {
    background-color: #c34b19;
    color: #fff;
}
#footer a.secondarybtn {
    float: left;
    padding: 11px;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #34495e;
    font: bold 13px Arial, sans-serif;
}
#footer a.secondarybtn:hover {
    background-color: #d1d1d1;
    color: #34495e;
}
#footer a.seeall {
    position: relative;
    top: 12px;
    left: 0;
}

#footer .anchoredfooter {
    line-height: 175%;
}
#footer .anchoredfooter ul {
    list-style: none;
    margin: 0;
}
#footer .anchoredfooter ul li {
    display: inline;
    margin: 0;
	padding: 0px 4px 0 6px;
	border-left: solid 1px #333;
}
#footer .anchoredfooter ul li:first-child {
	border: 0;
    padding: 0 4px 0 0;
}
#footer .logo.research, #footer .logo.nsf {
    height: 50px;
    display: block;
    background: url(../images/sprite.png) no-repeat;
    text-indent: -9999px;
}
#footer .logo.research {
    background-position: 0px 0px;
    width: 200px;
}
#footer .logo.nsf {
    background-position: -200px 0px;
    width: 350px;
}

/**** FONTAWESOME ICONS ADDED FOR JAN 2015 RELEASE ****/
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.2.0');
 src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
 font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);
 transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
 -webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
 -webkit-transform:scale(-1, 1);
 -ms-transform:scale(-1, 1);
 transform:scale(-1, 1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
 -webkit-transform:scale(1, -1);
 -ms-transform:scale(1, -1);
 transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}
/**** END FONTAWESOME ICONS ****/



.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
	position:relative;
	min-height:1px;
	float:left;
	padding: 5px 15px;
}
#footer .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
	padding: 0px !important;
}

.col-sm-12{width:100%}
.col-sm-11{width:91.66666667%}
.col-sm-10{width:83.33333333%}
.col-sm-9{width:75%}
.col-sm-8{width:66.66666667%}
.col-sm-7{width:58.33333333%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666667%}
.col-sm-4{width:33.33333333%}
.col-sm-3{width:25%}
.col-sm-2{width:16.66666667%}
.col-sm-1{width:8.33333333%}

a {
	color: #017d96;
    text-decoration: none;
}

a:hover {
	color: #c64b00;
}
.clr {
	clear: both;
}
/*********** NEW TOP NAV FOR JAN 2015 RELEASE ********/
#primary_nav_wrap
{
	margin: 0 auto;
    position: relative;
    display: block;
    width: 940px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	padding:0;
    background-color: #303b53 !important;
    margin:0 auto;
    width: 940px;
}

#primary_nav_wrap ul a
{
	display: table-cell;
    vertical-align: middle;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
    text-align: center;
	font-size:17px;
	height:53px;
	width: 187px;
	font-family:Georgia, serif;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
    top: 0;
    left: 0;
    border-right: 1px solid #616b85;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#017d96
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:53px;
	left:0;
	padding:0;
    width: 187px;
    z-index: 9999 !important;
   background-color:#017d96 !important;


}

#primary_nav_wrap ul ul li
{
	float:none;
    border-top: 1px solid #2e92ab;
    border-right: 0px solid #616b85;
}

#primary_nav_wrap ul ul a
{
	 font-family: Arial, sans-serif !important;
    font-size: 14px;
    text-align: left;
    padding: 11px 14px;
    height: auto;
    width: 159px;
    text-transform: none !important;
}
#primary_nav_wrap ul ul a:hover
{
	background-color: #c64b00;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
    z-index: 10;
}
#primary_nav_wrap a.fl {
    background: url('../images/icon_listFastlane.png') 14px 13px no-repeat;
    padding-left: 34px;
}
/******** END TOP NAV ***********/

.subQuestionLeft {clear: both;}
.pagination { padding-left: 0; }
#dueNow {margin-left: 0;}
/* ADAPTIVE LAYOUT FOR JANUARY 2015 RELEASE */
@media (min-width: 1200px) {
    #primary_nav_wrap ul ul, #primary_nav_wrap ul ul li,#primary_nav_wrap ul ul li a, #primary_nav_wrap ul li,  #primary_nav_wrap ul a, #primary_nav_wrap ul ul a, #primary_nav_wrap ul ul a:hover {
        width: 239px !important;
    }
	#pageWrapper, .theme-header, #masthead, #globalNavWelcomeContainer, #footer .content, #primary_nav_wrap, #primary_nav_wrap ul, div#anchor, .alert{
		width: 1200px !important;
	}


    #pageWell {
        width: 990px;
    }
}