h1,h2,h3,h4,h5,p,ol,li
{
font-family:arial;
}

/*body {background-color:#C0C0C0}*/

ul.menue
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li.menue
{
float:left;
}

a.menue:link,a.menue:visited
{
font-family:arial;
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#1188BB;
text-align:center;
padding:5px 15px;
text-decoration:none;
text-transform:uppercase;
}

a.menue:hover,a.menue:active
{
background-color:#7A991A;
}

ul.menueright
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li.menueright
{
float:right;
}

a.menueright:link,a.menueright:visited
{
font-family:arial;
display:block;
font-weight:bold;
color:#111111;
background-color:#D1D1D1;
text-align:right;
padding:7px;
text-decoration:none;
}

a.menueright:hover,a.menueright:active
{
background-color:#AAC94A;
}

a.publinks:link,a.publinks:visited
{
font-family:arial;
/*color:#111111;*/
/*color:#FFFFFF;*/
color:#c34500;
/*background-color:orange;*/
/*background-color:#c34500;*/
background-color:#ffffff;
/*background-color:#CAE96A;*/
text-align:right;
padding:3px 10px;
text-decoration:none;
}
a.publinks:hover,a.publinks:active
{
background-color:#c34500;
color:#ffffff;
}
.journal
{
margin-left:60px;
}

a.osu:link,a.osu:visited
{
color:#c34500;
text-decoration:none;
}
a.osu:hover,a.osu:active
{
background-color:#c34500;
color:#FFFFFF;
}

a.ceoas:link,a.ceoas:visited
{
font-weight:bold;
text-decoration:none;
}
